# ===== OS =====
.DS_Store

# ===== Node =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next/
.cache/

# ===== Cloudflare / Wrangler =====
.wrangler/
.dev.vars

# ===== Editor =====
.vscode/
.idea/
*.swp
